{% set ref = 'no' %}

{% extends "layout.html" %}
  
{% block title %}Attributions{% endblock %}
{% block lead %}This page is dedicated to everyone who assisted us in our long and challenging journey. Our team is
 tremendously grateful and humbled by the consistent aid and guidance we received throughout our project, from our advisors, 
 mentors, PI and community. Additionally, we would like to thank the iGEM community for always being there to help in 
 any- and every way, this competition is truly a great example of what collaborative efforts can achieve. {% endblock %}

{% block page_content %}

<style>
  h3, .h3 {
  font-size: 1.3em;
}

</style>

<h2>Project mentors</h2>
<hr>
<center>
  <p><I>“A boy comes to me with a spark of interest. I feed the spark and it becomes a flame. I feed the flame and it becomes a fire. I feed the fire and it becomes a roaring blaze.”</I> - Cus D'Amato.</p>
</center>
<p>We heartily thank our mentors for their enormous support of all our ideas, for patience and effort they’ve put in every advice and guidance, as well as for feeding our spark of interest in synthetic biology.</p>
<p><b>Naor Granik</b><br>
Ph.D student at the Synthetic Biology Laboratory for the Decipherment of Genomic Codes, supervised by Prof. Roee Amit.
Provided guidance and advise on modelling and lab work.</p>


<p><b>Or Willinger</b><br>
Ph.D student at the Synthetic Biology Laboratory for the Decipherment of Genomic Codes, supervised by Prof. Roee Amit.
Provided guidance and advise on lab work and experiment design, reviewed protocols.</p>


<p><b>Shira Levi</b><br>
  Ph.D student at The Lab for Cancer Drug Delivery & Cell-Based Technologies, supervised by Prof. Marcelle Machluf.
  Provided guidance and advise on Human Practice, Wiki writing and lab work.</p>

<p><b>Dr. Nisrine Laboud-Jeries Ph.D</b>
  Senior Researcher and Lab Manager at Prof. Assaf Bester Laboratory. Provided guidance and advise on fundraising, lab work and management of the project.</p>

  
  <p>We would like to especially thank our PI, <b>Prof. Roee Amit</b>, for providing the whole project platform and giving us opportunity in participating in such unique competition.</p>

  <br>
  <h2>Team members </h2>
<hr>
<p><b>Maia Lehrman</b> - She is the team captain. Maia made sure that all sub-teams were progressing according to plan. She assisted in the wiki development, education and public engagement, and took part in the mammalian cells wet and dry lab team.</p>
<p><b>Amit Nelkin </b>- He is the leader of the POC sub-team. Amit designed the experiments done in POC, was part of the bacterial wet and dry lab team. He also took part in designing the genetic circuits, and in educational events done by the team.</p>
<p><b>Mattan Hoory</b> - He is the leader of the Wiki sub-team. Mattan built the wiki page for the project, he was also part of the modeling sub-team, took part in the bacterial and mammalian dry lab, and contributed to the project collaborations.</p>
<p><b>Ran Benayoun </b>- Ran was part of the bacterial wet lab team. He also took part in the social media team, contributed to educational activities, and assisted in the project modeling.</p>
<p><b>Yana Shklovski</b> - She is the leader of the HP and Education sub-teams. Yana was in charge of HP activities, including those in education and public engagement. She assisted in the social media team, and took part in modeling.</p>
<p><b>Mazal Faraj</b> - Mazal was part of the bacterial wet and dry lab team. She contributed to the genetic circuits design and assisted in educational activities and public engagement done in the project. </p>
<p><b>Iser Snoyman </b>- Iser worked on education and public engagement of the project. He was also part of the bacterial and mammalian wet and dry lab teams, and contributed to collaborations in the project.</p>
<p><b>Irina Shkalikov</b> - She is the leader of the sponsorships sub-team. Irina worked on reaching potential sponsors and stakeholders for the project. She also took part in the modeling team, and assisted in education.</p>
<p><b>Reut Leufer</b> - She is the leader of the social media sub-team. Reut maintained the team's social media pages. She was also part of the bacterial wet and dry lab team, and contributed to sponsorships and education in the project.</p>
<p><b>Nova Noiman</b> - She is the leader of the modeling sub-team. Nova worked on modeling our systems. She also single handedly hand drawn each and every one of the graphic's and illustration that appear on our website, and was part of the mammalian cells wet lab team.</p>
<p><b>Baraah Rashed</b> - She is the leader of the synbio sub-team. Baraah organized the bacterial wet lab schedule, and was responsible for ordering the materials lab equipment. She was also part of the mammalian wet and dry lab team.</p>
<p><b>Yasmin Habib</b> - Yasmin was part of the bacterial wet and dry lab team. She took part in the genetic circuits design and assisted in educational and teams-collaborative activities done in the project. </p>




<br>
<h2>Advisors</h2>
<hr>
<p>From the early stages of our project, when the idea was just that an idea, and up until the last minute of it, our team had received ongoing aid from experts in various fields, who offered a helping hand in all aspects of the project. It is astonishing seeing their desire to help get this project up and running. 

</p>

<br>
<h2>Modelling </h2>
<hr>
<h3>Prof. Roee Amit </h3>
<p><b>Head of Synthetic Biology Laboratory for the Decipherment of Genomic Codes</b>.
  Provided an expert's opinion on Protein expression model, reviewed the equations and suggested ways to improve and expand them.
  </p>

  <h3>Prof. Yuval Shoham </h3>
  <p><b>Yuval Shoham Lab in the Faculty of Biotechnology and Food Engineering</b>.
    Gave useful advice on Fermentation model.</p>

    <br>

    <h2>Synthetic biology</h2>
    <hr>

    <h3>Prof. Boaz Mezrahi </h3>
    <p><b>Laboratory of Biomaterials - Faculty of Biotechnology and Food Engineering Technion.</b>
      Provided an expert's opinion regarding the molecule's ability to reach the necessary depth of the skin, the molecule's stability and if it degrades eventually, a topic that’s important when discussing the safety of decursin, and if it can enter the blood circulation and cause damage. 
      </p>


      <h3>Dr. Galit Parvari</h3>
      <p><b>The Faculty of Chemistry Technion</b> Provided guidance and explanation for the synthetic biology team regarding the last chemical reaction needed to convert decursinol to decursin. Offered the team her facilities and lab equipment needed to conduct the experiment, with her being alongside the members conducting it.</p>


      <h3>Prof. Oded Beja </h3>
      <p><b>Laboratory of Environmental Genomics of Marine Microbes - Faculty of Biology Technion</b>.
        Helped the team better understand multiple topics in protein characteristics, such as signal peptides. 
        
        </p>


        <h3>Amir Argoetti </h3>
        <p><b>Ph.D Student at The Laboratory of Computational and System Biology – Faculty of Biology Technion.</b>
          Suggested Luciferase assay as a way for us to know whether we produced decursin.
          
          </p>

        <h3>Dr. Sarah Goldberg Ph.D </h3>
        <p><b>Research assistant at the Synthetic Biology Laboratory for the Decipherment of Genomic Codes – Faculty of biotechnology and food Technion.</b>
          Generously provided the team with countless consultation sessions regarding cloning and genetic circuit designs, assisted us in all problems we faced in synthetic biology, and accompanied us throughout RNA extraction and qPCR protocols in their lab. We thank her for giving us her precious time, and being there every step of the way. 
          
          </p>

          <br>
          <h2>Proof of concept</h2>
          <hr>

          <h3>Prof. Ayelet Fishman</h3>
          <p><b>Head of Molecular and Applied Biocatalysis Laboratory.</b> Happily advised us on a way of analyzing and quantifying metabolites using HPLC.</p>
 
         <h3> Assistant Prof. Omer Yehezkeli</h3>
              <p><b>Yehezkeli Lab, Nano-Bio Interfaces.</b> Kindly advised us on a way of analyzing and quantifying metabolites using NMR.</p>
 
            <h3>Cai Hanfeng</h3>
 <p><b>Master Student at Prof. Ayelet Fishman's Laboratory of Molecular and Applied Biocatalysis. </b>Guided POC team on running HPLC machine.</p>
 
 <br>
 <h2>Proof of value</h2>
 <hr>

 <h3>Prof. Yaron Fuchs</h3>
 <p><b>Laboratory of Stem Cell Biology and Regenerative Medicine - Faculty of Biology Technion.</b> Provided the team with a deeper understanding of the proper way to show proof of value that decursin reduced chemotherapy-induced alopciea. Suggested to divide our focus on two levels; the first is evaluation of the molecule’s effect on HaCat cells (Keratinocyte cell line), and the second is evaluation of the molecule's ability to penetrate the scalp skin and reach the suitable depth for optimal effectiveness. </p>
 
 

 <h3>Prof. Shulamit Levenberg</h3>
 <p><b>Head of Stem Cell and Tissue Engineering Laboratory - Faculty of Biomedical Engineering Technion.</b> Assisted the team with different approaches by which decursin can be evaluated, including its impact on hair follicles and its ability to penetrate the scalp skin to the desired depth.

 </p>
 
 <br>
 <h2>Human Practice </h2>
 <hr>
<h3>Dr. Jawdat George Eid, Ph.D</h3>
<p><b>Formerly a senior social worker in Rambam Hospital's Oncology Department, Haifa Israel.</b>
  Generously gave us his time and provided extremely helpful advice for writing a sensetive survey regarding hair loss and its effects on chemotherapy-treated patients.</p>
 
 <h3>Larger Than Life  - Non-profit organization</h3>
 <p>Planning an event with Larger Than Life organization had a tremendous impact on our project. It enforced our opinions about the importance and relevancy of the project’s proposed implementation, a solution for chemotherapy-induce alopecia. We are humbled to have had the chance to come together with Larger Than Life and take part in the children’s pool party event. </p>
         
<h3>Pharmaseed LTD- Pre clinical CRO</h3>
<p>Helped focus on the idea, and provided useful advice on plenty in vitro experiments. Offered future cooperation to perform screening experiments and offered their facilities to perform various tests.</p>

<h3>Yaki Harel and Rahamim Eliyahu </h3>
<p><b>CEO and co-founder of Shamna Foods and COO and co-founder of Shamna Foods</b></p>
<p>Assisted the team in understanding the process of extraction from plants, and the main challenges in the industry. </p>

<h3>Moti Rebhun </h3>
<p><b>CTO of YDLabs</b> Advised the team about fermentation, and provided useful information about how we should plan our next steps as we go forward with our product and how to scale up our experiements. He also offered help in the future procedures if necessery.</p>

<br>
<h2>Project proposed implementation</h2>
<hr>

<h3>Dr. Hila Ben David</h3>
<p><b>CTO at Nextar Chempharma Solutions Ltd. formerly director of The National Public Health Laboratories, Israel Ministry of Health.</b> Provided her expert opinion on the future marketing strategy of our end-product, which target audience to start with, and how to match marketing with fund raising. Additionally, she proposed improvements to our genetic circuit designs, as well as our fermentation model.</p>


<br>
<h2>General support </h2>
<hr>

<h3>Anna Shreder  - Presentation coaching</h3>
<p>Anna gave a lecture to our team, alongside the TAU team and BGU team in the mini jamboree our team organized. The lecture was about the correct and advised way to present a project, and tips to assist in keeping the audience interested throughout the whole presentation.</p>

<h3>Viki Itzhaki - graphic designer and illustrator</h3>
<p>Viki generously helped the team in the logo and presentation design <a href="http://vikistudio.com/" target="_blank">Visit Viki site here</a>.</p>


<h3>Shir Shaked  - Wiki support</h3>
<p>Shir generously helped the team in advice for graphic for the wiki pages.</p>

<h3>Bar Goldner- 3D printing</h3>
<p>Bar happily offered the team her services to print the 3D DNA model and SolidWorks Software support.</p>

<h3>Or Dabool  - App development</h3>
<p>Or provided immense assistance in developing the foundation of our educational app <a href="https://github.com/ordabool " target="_blank">Visit Or Git here</a>.</p>

<h3>Lilach Lorber  - Promotion video support</h3>
<p>Lilach generously provided the team with video materials, which were helpful when working on the promotion video.

</p>

<h3>Prof. Amram Mor's lab</h3>
<p>Generously provided the team with materials and facilities for tissue culture.</p>

<h3>Prof. Marcelle Machluf's lab</h3>
<p>Generously provided the team with HaCat cells, along with facilities.</p>

<h3>Prof. Roee Amit's lab</h3>
<p>Generously provided the team with materials and fascilities for bacterial cloning and tissue culture.</p>

<h3>Prof. Assaf Bester's lab</h3>
<p>Generously provided the team with materials and facilities, including FACS.</p>

<h3>Dr. Mouna Rohana-Habib Ph.D from Prof. Ramez Daniel lab</h3>
<p>Generously provided the team with an <I>E. coli</I> strain expressing Luciferase which was used as a positive control for Luciferase detection using plate reader, an experiment which was accompanied by Mouna, in their facilities, using their equipment and material.</p>

<h3>Dr. Michael Levy Ph.D</h3>
<p>Gave a lecture about his field of research in the mini Jamboree that our team put together. The topic was synthesis and assembly of ribosomal subunit on a chip.</p>

<h3>Prof. Avi Schroeder</h3>
<p>Provided the team with the necessary plates capable of reading in the UV spectrum, for the Luciferase luminescence assay.</p>

<h3>Andre from Room Escape Maker</h3>
<p>Helped in the making of our virtual escape room, and provided the service along with all available feature for free. </p>

<h3>Revital Kirshberg </h3>
<p>Helped the team in understanding the appropriate ways when approaching students with ADHD for our human practices events. A guideline document was written based on her advice. </p>

<h3>Lokey center</h3>
<p>Generously provided the team with FACS use.</p>

<h3>Central Chemical Store – Technion</h3>
<p>Generously provided the team with disposables and lab equipment.</p>



<h3>Headstart supporters</h3>
<p>We would like to thank each and every one who supported us and the project through contributions in our crowd-funding page on Headstart platform. Thanks to you, we were able to expand our project, and reach beyond what we could have.</p>
     
<h3>iGEM impact grant</h3>
<p>We would also like to say a special thank you to Frederick Gardner Cottrell Foundation, which provided iGEM 2022 teams with opportunity to win 2500$. We are happy to be one of the 2022 Grant receivers.</p>


<br>
<h2>Sponsors and financial support</h2>
<hr>
<p>We would like to thank all companies and organizations listed below, for generously providing us with services and materials that were crucial for the development of our project. Additionally, we warm heartedly thank our beloved departments: the Biotechnology and Food Engineering, the Biomedical Engineering, and the Computer Science department, for their generous contributions to our project, and for sponsoring our trip to the Grand Jamboree in Paris. </p>

<!-- start of logo slier-->
</br></br><h1>Our  Partners</h1>
<div class="container">
   <section class="customer-logos slider">
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/bfe-new.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/bme-logo.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/cs-logo.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/vikistudio.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/doron-scientific.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/ornat.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/snapgene-logo.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/tomachi-logo.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/logo-idt.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/color-logo-converted-copy.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/matlab.png"></div>
    <div class="slide centerSponser"><img src=" https://static.igem.wiki/teams/4179/wiki/sponsors/roomescape.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/sigma-aldrich-logo.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/twistbios.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/lse.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/cellbiolab2.png"></div>
    <div class="slide centerSponser"><img src="https://static.igem.wiki/teams/4179/wiki/sponsors/biorander.png"></div>

   

     
   </section>
</div>

<link href="{{ url_for('static', filename='assets/css/sponsor.css') }}" rel="stylesheet">

<script>$(document).ready(function(){
    $('.customer-logos').slick({

      slidesToShow: 6,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1500,
        arrows: false,
        dots: false,
        pauseOnHover: false,
        responsive: [{
            breakpoint: 768,
            settings: {
                slidesToShow: 4
            }
        }, {
            breakpoint: 520,
            settings: {
                slidesToShow: 3
            }
        }]
    });
});</script>


  <!--end of logo slider-->


{% endblock %}
