{% extends "layout.html" %}
  
{% block title %}Collaborations{% endblock %}
{% block lead %}A major part of our project was the interaction and collaboration with fellow iGEM teams. These collaborations represented an opportunity to enrich and elevate our project to the next level. In this page we elaborate on the way we utilized both in-person and digital mediums to facilitate communication.{% endblock %}

{% block page_content %}


<h2>Intro</h2>
<hr>
<p>Throughout our project, we put an emphasis on collaboration with groups near and far. To our team, collaborations represent an
     <b>opportunity to enrich</b> our project with the <b>experience and diversity</b> of other iGEM groups. The differences were able to enhance 
     our projects and provide a new perspective, it was also fulfilling  to see the similarities that the different teams experienced 
     throughout the iGEM journey. We attempted to collaborate with as many groups as possible, starting with those within our own 
     country  and ending with diverse countries from all around the world.<br></p>

<h2>Mini Jamboree</h2>
<hr>
<p>We were honored to host the other two Israeli iGEM teams, <a href="https://2022.igem.wiki/bgu-israel/"><b>iGEM BGU-Israel</b></a> and <a href="https://2022.igem.wiki/tau-israel/"><b>iGEM TAU-Israel</b></a> at our campus for what
we call <b>the “mini jamboree”</b>.  This event was meant to resemble the grand jamboree on a smaller scale. Each of the groups presented
their projects, along with a fifteen-minute question session.  In addition, we invited two guest lecturers: The first is Anna Shreder, a debate coach who gave us a lecture about the art of presenting in front of an audience, preparing us for the grand jamboree. The second is Dr. Michael Levy from the faculty of Biotechnology and Food engineering that gave us a lecture about his field of research in synthetic biology - engineering ribosomes.
This event was a fantastic opportunity to become more comfortable in presenting the projects 
as well as being capable of answering  questions from our peers. This opened Israel's teams to one another in the spirit of camaraderie and allowed various ideas to be <b>explored under the umbrella of synthetic biology</b> and its toolkit. </p>
<div class="col-md-6 mx-auto text-center">
  <div id="carousel-1" class="carousel slide carousel" data-bs-ride="true">
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Hair donation event at the Technion"></button>            
          <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1" aria-label="Envelopes of hair to donate"></button>            
          <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="https://static.igem.wiki/teams/4179/wiki/collab/groupjemboree.jpeg" class="d-block w-100">
          </div>
          <div class="carousel-item">
              <img src="https://static.igem.wiki/teams/4179/wiki/collab/invite.png" class="d-block w-100">
          </div>
          <div class="carousel-item">
              <img src="https://static.igem.wiki/teams/4179/wiki/collab/iserspeaking.png" class="d-block w-100">
          </div>
          <div class="carousel-item">
              <img src="https://static.igem.wiki/teams/4179/wiki/collab/baraah-minijamboree.jpeg" class="d-block w-100">
          </div>
          <div class="carousel-item">
              <img src="https://static.igem.wiki/teams/4179/wiki/collab/matan.png" class="d-block w-100">
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel-1" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel-1" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
</div>
<br>
<h2>Podcast</h2>
<hr>
<p>We reached out to other teams to hear about their projects, ideas and experiences.  After hearing from a few teams, we realized 
    that we may not be the only people interested in these projects.  This led us to the idea of creating an <b>educational podcast</b> 
    centered around synthetic biology and iGEM groups specifically. We invited three groups from around the world: <b><a href="https://2022.igem.wiki/latvia-riga/">iGEM Latvia-Riga</a>, <a href="https://2022.igem.wiki/athens/">iGEM Athens</a> and 
        <a href="https://2022.igem.wiki/nyu-abu-dhabi/">iGEM NYU-Abu-Dhabi</a> </b>; each group told us about their project and some of the challenges they faced. You can read more about our 
    podcast in the <a href="{{ url_for('pages', page='communication') }}">Education & Communication</a> page.<br> You can listen to our podcast, just click on the advertisement post photo.</p>
<!-- slide show-->
<center>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>
<div class="row">
  <div class="column">
    <img src="https://static.igem.wiki/teams/4179/wiki/collab/picture-6.jpg" alt="Snow" style="width: 100%">
    <style>.figure-text {text-align:left; font-size: 12px; color: #787277;}</style>
    <div class="figure-text"> <p>meeting to record our podcast with Athens Team</p></div>  
</div>
  <div class="column">
    <a href="https://open.spotify.com/show/10ffNOf6d78yRF0AyQH4r0" target="_blank">
        <img src=
"https://static.igem.wiki/teams/4179/wiki/collab/whatsapp-image-2022-10-07-at-16-50-45.jpeg" alt="link" style="width:57%" </div>
<div class="figure-text"> <p>Advertisement post</p> </a></div>
   
</div>


</body>
</html>
</center>

<h2>Lavtia-Riga: OraCell</h2>
<hr> 
<p>
  As explained on previous pages, we lacked a satisfactory solution for detecting and quantifying 
    decursin, which is how <b>OraCell</b> was born. More information on this can be found on the <a href="{{ url_for('pages', page='measurement') }}">measurement</a> page.
     We realized that quantification 
    of metabolites is a problem not unique to our project. Therefore, we began to search for fellow iGEM teams in the biomanufacturing track, 
    whose molecules could potentially affect the Hippo pathway as well. We reached out to the <a href="https://2022.igem.wiki/latvia-riga/" <b>Latvian iGEM 2022 team</b></a> who are producing a molecule 
    known as crocin, which recent studies have shown impacts the Hippo pathway in a similar manner to decursin<sup>[<a href="#ref1">1</a>]</sup>. After explaining the mechanism of our assay to them, we offered to establish a calibration 
    curve using a sample sent by them, for possible future detection and measurement of crocin. They have sent us a sample for setting up the first experiment. 
    Furthermore, this is also the first time that a Latvian group has participated in iGEM, which made our collaboration with their team even more impactful and significant.
    As a fellow group in the biomanufacturing track, we were able to discuss our work and models and learn from each other.  </p>

<h2>iGEM Challenge</h2>
<hr>
<p>As a part of the education aspect of our project, we created a <b>virtual escape room</b> with a synthetic biology theme.  The escape room was
     set at a challenging level and therefore, prior to the escape room, a lesson in synthetic biology was given to high school students.  
     Since the escape room was set at such a high level, we were able to share it with fellow iGEM groups as a friendly competition. 
      We sent out the link to the escape room on the iGEM Slack group as well as on our Instagram with the top three groups being awarded a prize
      to be handed out at the grand jamboree in Paris.</p>

       <!-- Fix me--> <!-- add the name of the group that did it-->
       <img src="https://static.igem.wiki/teams/4179/wiki/collab/img-3201.jpg" style="width:50%" class = "imgcenter">
       <style>.figure-text {text-align:center; font-size: 12px; color: #787277;}</style>
       <div class="figure-text"> <p>iGem Challenge advertisement post </p></div>

<h2>Mock  Jamboree</h2>
  <hr>
  <p>In addition to our in-person meetup, we will plan to host a <b>virtual meetup</b> with the various groups we interacted with throughout our project: Athens,
      Latvia and United Arab Emirates.  The meetup will take place following the wiki freeze. That way, the projects and presentations are expected
        to be in the final stages.  This allows the mock jamboree to act as a dry run for the grand jamboree and make the teams more comfortable in 
        presenting their final projects.  We are excited for this meeting and hope it will be beneficial for all of the groups involved.</p><br>
{% endblock %}

{% block references %}
      <ol class="reftext"> 
        <li id="ref1"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7807260/">Wu, Z., & Hui, J. (2020).</a> Crocin reverses 1-methyl-3-nitroso-1-nitroguanidine (MNNG)-induced malignant transformation in GES-1 cells through the Nrf2/Hippo signaling pathway. Journal of Gastrointestinal Oncology, 11(6), 1242.</li>
{% endblock %}