{% set ref = 'no' %}
{% extends "layout.html" %}
  
{% block title %}Contributions to future iGEM teams{% endblock %}
{% block lead %}Only when our team utilized resources from previous iGEM teams, did we understand the importance of our contributions for future ones. We have gone to great lengths in putting together a concrete list of contributions, which can be beneficial for teams to come. {% endblock %}

{% block page_content %}
<h2>Intro</h2>
<hr>
<br>
<p> We believe that contributions to future iGEM teams is the simplest example of the collaborative 
spirit this competition promotes and encourages. Our team has done a great deal in brainstorming and implementing ideas 
which can both benefit our project and assist future teams in reaching their project's full potential.<br></p>

<h2>Education</h2>
<hr>
<br>

<h3> Escape Room</h3>
<hr>
<p> We designed a <b>virtual escape room</b> about synthetic biology, on which you can read more on our <a href="{{ url_for('pages', page='escape-room') }}">Escape Room</a> page. Members
    of our team were welcomed into three schools, in which they first gave a simple lecture as an introduction to synthetic
    biology and then they guided the students in solving the escape room. Overall, about <b>600 students</b> from all over the country
    solved it. In addition, we sent the escape room to all iGEM teams via Slack. The success this escape room received lead us
    to the realization that it could be used by other iGEM teams as a tool to bring the community in on their project, something
    that this competition strongly values. Moreover, the escape room is a great way for teams to get together and be more involved
    in the community of iGEM as a whole.</p>

<h3 id="3d"> 3D DNA Model Puzzle</h3>
<hr>
<p> We designed a <b>3D puzzle</b> of  DNA strands using SolidWorks. The purpose of this puzzle is to be used as a simple <b>educational
    tool for children</b> to learn biology and specifically synthetic biology, for the purpose of increasing their exposure to this topic. We
    successfully printed the puzzle, and verified that it functions correctly. Our team offers the SolidWorks Part model of
    the puzzle for all teams to <b>download and print</b>. This puzzle can be used as an interactive tool for educational purposes,
    which in return can contribute to the project in the education and human practice departments.</p>
<p> Click to download our 3D DNA model from our GitLab:</p>
<a href="https://gitlab.igem.org/2022/software-tools/technion-israel/-/tree/main/3D%20DNA%20Model" target="_blank">
    <img src="https://static.igem.wiki/teams/4179/wiki/contribution/dna.svg" width="30%" class="imgcenter">
</a>
<br>
<h3> Synthetic Biology Lessons </h3>
<hr>
<p> Since synthetic biology is not a field which middle school or high school students are usually exposed to, we saw a great
    opportunity in the scope of this competition to introduce this field to schools and get student more involved. Thus, members
    of our team prepared <b>synthetic biology lessons</b>. The content of those lessons is simple and is written in way which makes
    it <b>fun and intriguing</b> to both teachers and students.</p>
<p> Our team provides those lessons as a contribution to future iGEM teams. They are a great way to incorporate schools, and
    the community in general, into their iGEM projects, a topic which teams can later expand upon in the human practice department
    of their project. </p>
<p> See for yourself! Download the lessons here :</p>
<hr>

<p> <b>For children's workshop</b></p>

<div class="row">
    <div class="columnimg">
        <a href="https://static.igem.wiki/teams/4179/wiki/contribution/english-kids.pdf" download target="_blank">
            <img src="https://static.igem.wiki/teams/4179/wiki/contribution/lesson-plan-english.svg" width="150" height="150" class="imgcenter">            
        </a>
    </div>

    <div class="columnimg">
        <a href="https://static.igem.wiki/teams/4179/wiki/contribution/hebrew-kids.pdf" download target="_blank">
            <img src="https://static.igem.wiki/teams/4179/wiki/contribution/lesson-plan-hebrew.svg" width="150" height="150" class="imgcenter">            
        </a>
    </div>

    <div class="columnimg">
        <a href="https://static.igem.wiki/teams/4179/wiki/contribution/russain-kids.pdf" download target="_blank">
            <img src=" https://static.igem.wiki/teams/4179/wiki/contribution/lesson-plan-russian.svg" width="150" height="150" class="imgcenter">            
        </a>
    </div>
</div>
<hr>

<br><br><br>
<p><b>For teens' workshop</b></p>


<div class="row">
    <div class="columnimg">
        <a href="https://static.igem.wiki/teams/4179/wiki/contribution/english-teen.pdf" download target="_blank">
            <img src="https://static.igem.wiki/teams/4179/wiki/contribution/lesson-plan-english.svg" width="150" height="150" class="imgcenter">            
        </a>
    </div>

    <div class="columnimg">
        <a href="https://static.igem.wiki/teams/4179/wiki/contribution/hebrew-teen-pdf.pdf" download target="_blank">
            <img src="https://static.igem.wiki/teams/4179/wiki/contribution/lesson-plan-hebrew.svg" width="150" height="150" class="imgcenter">            
        </a>
    </div>

    <div class="columnimg">
        <a href="https://static.igem.wiki/teams/4179/wiki/contribution/russian-teen-pdf.pdf" download target="_blank">
            <img src=" https://static.igem.wiki/teams/4179/wiki/contribution/lesson-plan-russian.svg" width="150" height="150" class="imgcenter">            
        </a>
    </div>
</div>


<div class="row">
    <div class="columnimg">
        <a href="https://static.igem.wiki/teams/4179/wiki/contribution/english-presentation-1.pdf" download target="_blank">
            <img src="https://static.igem.wiki/teams/4179/wiki/contribution/presentation-english.svg" width="150" height="150" class="imgcenter">            
        </a>
    </div>

    <div class="columnimg">
        <a href="https://static.igem.wiki/teams/4179/wiki/contribution/hebrew-teen-pre.pdf" download target="_blank">
            <img src="https://static.igem.wiki/teams/4179/wiki/contribution/presentation-hebrew.svg" width="150" height="150" class="imgcenter">            
        </a>
    </div>

    <div class="columnimg">
        <a href="https://static.igem.wiki/teams/4179/wiki/contribution/russian-presentation-1.pdf" download target="_blank">
            <img src="https://static.igem.wiki/teams/4179/wiki/contribution/presentation-russian.svg" width="150" height="150" class="imgcenter">            
        </a>
    </div>
</div>


<h2>Parts</h2>
<hr>
<p>Our project included three main circuit designs, the Xim design, PT design, and OraCell design. In each one of them we used
    new parts, which we added to the iGEM registry for all future teams to have the opportunity to use. </p>
<p> We added <b>12</b> basic parts, and <b>8</b> composite parts, <b>20</b> in total. </p>

<p> Visit our Parts page for more details:</p>

<a href="{{ url_for('pages', page='parts') }}">
    <img src=" https://static.igem.wiki/teams/4179/wiki/contribution/parts-botton.svg" width="30%" class="imgcenter">    
</a>

<p><br>In addition, we made a contribution on <a href="http://parts.igem.org/Part:BBa_K1442039#Contribution_:_iGEM22_Technion_Israel">BBa_K1442039</a> part; We optimized the sequence for <I>E. coli</I>, and added the new sequence as a new part (<a href="http://parts.igem.org/Part:BBa_K4179005">BBa_K4179005</a>).<br> </p>

<h2> Competition</h2>
<hr>
<br>

<h3> Guide to Attend to People with Attention Deficits</h3>
<hr>

<p> As part of our educational activities throughout this project, we got the chance to prepare lessons, workshops and fun activities
    for children and youth (<a href="{{ url_for('pages', page='communication') }}">Education</a>). The experience was very fruitful;
    however, the majority of class settings we have been in, included a handful of kids who didn't engage with the activity,
    either due to attention deficits or learning difficulties. And thus, we raised the question as a group, <b>how do we attend
    to those people?</b> </p>

<p> To find an answer, we reached out to Revital Kirshberg, <b>a family and ADHD coach. </b> She was very helpful in explaining
    and providing us with guidelines about how to best approach children and youth with ADHD. By following those guidelines,
    we rewrote our content to better suit people of that population. We emphasized <b>interactivity</b> and <b>teamwork</b> in our activities
    and put extra efforts in making sure that the content is as clear and comprehendible as possible.
</p>

<p> We put together a <b>guideline document</b>, which can be easily used and implemented by future iGEM teams, allowing them
    to optimize their educational and public engagement activities and convey their message more effectively, reaching everyone
    involved in the venture they wish to accomplish.</p>

<p> For more about the adjustments we made based on those guidelines visit our <a href="{{ url_for('pages', page='communication') }}">Education page</a>. </p>

<p> Click here to read the <a href=" https://static.igem.wiki/teams/4179/wiki/contribution/how-to-adjust-your-contents-to-people-with-adhd-and-learning-disabilities.pdf"
        download target="_blank">Guidline Document</a>.</p>




<h3> Measurement Tool</h3>
<hr>
<p> In this project, we want to introduce the biosynthesis pathway of decursin into bacteria. Thus, our proof of concept is essentially
    showing that we were able to successfully produce decursin in the genetically engineered bacteria we worked on. To be able
    to evaluate the success of each step of the pathway, we needed to detect and quantify the different metabolites in it, and
    the best way to do so is HPLC, which means that we were heavily reliant on the availability of HPLC, as well as the availability
    of an expert who can operate the device. Not to mention, HPLC is not an affordable tool, and is inaccessible to many iGEM
    teams.</p>

<p> Our team tried to take different approaches and think of an alternative for HPLC. We eventually came up with
    <b>OraCell</b>. A Luciferase assay-based mechanism, which takes advantage of decursin's effect on the existing Hippo pathway in mammalian cells. The special element in this measurement tool is that decursin is not the only metabolite which has this effect, there is
    a <b>list of metabolites</b> which cause the same effect on the pathway. Thus, this tool can be <b>beneficial for all teams</b>
    interested in measuring said metabolites. </p>
<p> We are offering the OraCell design as a contribution to future iGEM teams working with metabolites included in that list.</p>


<p> We had the honor of collaborating with team Latvia-Riga, who needed a tool to measure a metabolite they wanted to produce,
    crocin, which exists on the list of metabolites suitable for our measurement tool. We are waiting for a sample from their
    team, and will test crocin using OraCell. </p>

<p>Read more on our OraCell page:</p>

<a href="{{ url_for('pages', page='measurement') }}">
    <img src="https://static.igem.wiki/teams/4179/wiki/contribution/measurement-botton.svg" width="420" height="150" class="imgcenter">    
</a>
{% endblock %}
