{% set ref = 'no' %}
{% extends "layout.html" %}
  
{% block title %}Best Education{% endblock %}
{% block lead %}Innovative educational tools and outreach activities have the ability to establish a two-way dialogue with new communities by discussing public values and the science behind synthetic biology.{% endblock %}

{% block page_content %}

<h2> Best Education</h2>
<hr>
<p>In the post-Covid 19 world, it was important for us to use our educational tools to bridge the gap between the virtual and 
  the physical world. This way, we wish to allow free and convenient access to education for various communities.</p>

  <p>From the digital perspective, we created a virtual escape room that reached more than 600 students from all over the country. 
    We also designed a 3D DNA model that is accessible worldwide and used different platforms such as TikTok and a podcast. We also
     created an application that makes synthetic biology more accessible and easier to understand, thus introducing new communities
      to the field.</p>

      <p>As for the personal aspect, we formed three different workshops: for children, teenagers, and escape room briefings. 
        The workshops were thoughtfully implemented to encourage dialogues, critical thinking, and mutual learning. We are proud 
        to report over 600 students from 30 high schools all over the country have taken part in the escape room, and many more 
        teachers still approach us to have this lesson in their classes. We hope that we were able to not only introduce the students 
        to the world of synthetic biology but also inspire them to further study it in the future. To create many more new
        opportunities, all our workshops are translated into Russian, Arabic, Hebrew, and English, the most spoken languages
         in Israel.</p>

         <p>In addition, we wrote a children's book in both English and Hebrew to explain the science behind synthetic biology
           in a simplified manner to a much younger audience.</p>

           <p>As education should not be beyond the reach of anyone, our goal was to reach communities such as war refugees 
            from Ukraine and schools from the periphery to make education as accessible as possible for those marginalized groups.</p>


            <p>All our work is documented on the <a href="{{ url_for('pages', page='communication') }}"> Education page </a> and is accessible for free. </p>


{% endblock %}
