{% extends "layout.html" %}
  
{% block title %}Human Practices{% endblock %}
{% block lead %}As the final purpose of our decursin biomanufacturing is CIA treatment, when designing the project, we wanted to approach this topic in the most sensitive manner as possible. To understand the problem and the available solutions today, we contacted different associations, consulted with experts and talked to patients. All of this input emphasized the importance of our initiatives and values that guided us throughout the project. {% endblock %}

{% block page_content %}

<style>.centertxtt { text-align: center !important;}</style>


<h2 id="HP">Human Practices</h2>
<hr>
<p>Hair loss following chemotherapy treatments is a phenomenon that occurs to more than 60% of patients<sup>[<a href="#ref1">1</a>]</sup> . Beyond the physical
    difficulty, the loss of hair is accompanied by great mental stress. Many patients affirm that losing their hair
    makes coping with the disease much harder. Since our project deals with a very sensitive topic, our human practices
    focused on the question of how our project can <b>contribute to the community</b> and how can we <b>work together</b>    to create a fitting solution to the problem.</p>

<p>In terms of <b>understanding our impact on society</b>, we contacted different associations not only to hear and understand
    the issue firsthand, but also to offer our help on various occasions such as organizing a hair donation event and a pool
    party for the children's oncological department.</p>

<p>To <b>comprehend the psychological aspects</b> on a much deeper level, we contacted Dr. Jawdat George Eid, a former senior
    social worker in the oncological department of Rambam hospital, and published a survey among patients and patients in
    recovery.
</p>

<p>All that gathered information helped us <b>shape our project</b> in the direction it is today.
<br></p>

<h2 id="integrated"> Integrated Human Practices</h2>
<hr>
<p>Our vision is to make <b>Angel Roots</b> an <b>off-the-shelf</b> product that will be an exclusive solution for patients undergoing
    chemotherapy, as well as to promote future research regarding decursin and its effects. For this reason, we consulted
    with <b>top experts from both the industry and the academy</b> to understand which areas we should focus on in order
    to reach the full potential of our project.</p>

<p>Our talk with Dr. Eid <b>shaped the way we communicated our project to potential clients</b>. We changed our phrasing
    and made sure to address them with the required sensitivity when compared to a more scientific background. For future
    implementation and large-scale manufacturing, we contact “Shamna” company to understand the related regulation and standards,
    and as a result of the conversation, we identified a need for a model to assess the validity of our biomanufacturing
    system. </p>

<p>We toured “Pharmaseed” Ltd. which introduced us to the process of clinical screening and offered to perform the screening
    for us. In addition, we understood we must prioritize the production of the molecule and the research of its molecular
    mechanism (see <a href="{{ url_for('pages', page='results') }}#ef">efficacy assays</a>).</p>


<p>As we continued consulting with different specialists, we had to let go of planned directions and make compromises accordingly,
    for instance, our choice to proceed with HPLC for decursin detection and giving up on previous ideas such as NMR and
    lyophilizer, thus <b>closing the loop</b> between the designed and the desired.</p>

<br>
<hr>

<!-- Flow chart -->
<center><img src="https://static.igem.wiki/teams/4179/wiki/hp/hp-explanation.svg"></center>

<br>
<h2 id="stakeholders"> Engagement and Integration </h2>
<hr><br>

<!-- Modals -->

<!-- The Modal -->
<!-- Jadwat read more-->
<div class="modal" id="modal1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Dr. Jawdat George Eid</h4>
         </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <h5>Contribution</h5>
            <p>Dr. Eid described from his experience the mental difficulties that children and youth experience following hair
                loss, and how this affects their self-image and coping with the disease. Dr. Eid stated that our project is a very
                important initiative, especially for adolescent children, for whom this is a sensitive issue. The child
                must make a difficult transition between the old, normal routine and a new routine that includes painful treatments,
                pressure on the family, and a new self-image. We asked him how he thought <b>the product
            should be presented</b> to patients and he emphasized that nothing should be guaranteed in this area. Dr.
                Eid gives lectures in nursing courses, in which he teaches how it is taboo to make promises to patients that cannot
                be kept. He explained to us that in such situations the patient clings to every possible promise and hope, and if
                he experiences disappointment from a medical/scientific factor, this may lead to a severe regression in treatment.
                Therefore, he recommends presenting the product in a modest way, which presents the pros alongside the cons and gives
                the patient room for control. Not to present the product as an absolute solution because there is no absolute truth
                in this field.
            </p>
            <p>
                <I>“Finding a product that will help prevent hair loss affects not only the hair but also the mental stability, the 
                    withdrawal and development, the daily functioning - this is an important tool that will allow the patient to feel a 
                    certain control over his life”  J.G.Eid  </I>
            </p>
            <h5>Implementation</h5>
            <p>Following our conversation, we learned about <b> the importance of our project</b> and the necessity of such a product,
                and how to make it <b>approachable for patients</b>. By doing so we alternated our survey and rephrased it to be <b>more 
            suitable for patients</b> and those in recovery. We updated our approach towards the end product and centered
                on its use as a chemotherapy-induced alopecia product.
            </p>
        </div>


      </div>
    </div>
  </div>

<!--Hair donation event-->
  <div class="modal" id="modal2">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Hair Donation Event</h4>
         </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          
            
            <p>One of the most common solutions for hair loss is wigs. In Israel, every cancer patient who loses his or her hair
                due to chemotherapy treatments is entitled to receive a wig for free.<br> But did you know that it takes at least
                7 braids to make one wig?
            </p>
            <p>As part of our desire to <b>understand the problem</b> and to <b>contribute to the community</b>, and to the cancer
                patient in particular, on June 15th we organized a hair donation event on the Technion campus. The event was held
                in collaboration with "Zicharon Menahem" association which works for cancer patients and their families.</p>
            
                <p>With the help of three amazing hairdressers that came voluntarily, we managed to collect dozens of donations sent
                to the association.
            </p>
            <p>We were touched to find out that the event reached not only undergraduate students but also included donors from graduate
                school, faculty members, and even people from outside the Technion who came just to donate their hair.</p>
            <p>Each of the donors received a certificate of recognition for their donation and a small gift bag that we prepared especially
                for them. Beyond the hair donations, the event helped us <b>raise awareness of the issue</b> of hair loss as a result
                of chemotherapy, and how the <b>existing solutions are only partial</b> and there's a need for new solutions.</p>

                  <!-- pictures-->
            <div class="col-md-6 mx-auto text-center">
                <div id="carousel-1" class="carousel slide carousel-white" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active" aria-current="Slide1"></button>                        
                        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1" aria-label="Slide 2"></button>                        
                        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://static.igem.wiki/teams/4179/wiki/hp/1-min.jpg" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="https://static.igem.wiki/teams/4179/wiki/hp/2-min.jpg" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="https://static.igem.wiki/teams/4179/wiki/hp/3-min.jpg" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="https://static.igem.wiki/teams/4179/wiki/hp/5-min.jpg" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="https://static.igem.wiki/teams/4179/wiki/hp/6-min.jpg" class="d-block w-100">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-1" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-1" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                     </button>
                </div>
            </div>
        </div>


      </div>
    </div>
  </div>



  <!-- Larger than life-->
  <div class="modal" id="modal3">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Larger Than Life</h4>
         </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          
            
        
            <p>After the hair donation event, we realized that help from a distance is not enough, and to understand the issue more
                deeply, we must <b>meet with the patients themselves</b>.</p>
            <p>On August 28th, members of our group joined the charity association “Larger than Life” in organizing a pool party
                for families facing pediatric cancer. We believe that such events not only provide families with the opportunity
                to step away from the white walls of the hospital but can also serve as a connecting and supporting platform, where
                parents and their children meet people facing similar difficulties. 
           During this day we met and heard stories of strong families, which gave us some insight into their life.</p>
           

                            <!-- pictures-->
            <div class="col-md-6 mx-auto text-center">
                <div id="carousel-2" class="carousel slide carousel-whtie" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active" aria-current="Slide1"></button>                        
                        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1" aria-label="Slide 2"></button>                                       
                        <button type="button" data-bs-target="#carousel-2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carousel-2" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carousel-2" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://static.igem.wiki/teams/4179/wiki/hp/7-min.jpg" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="https://static.igem.wiki/teams/4179/wiki/hp/8-min.jpg" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="https://static.igem.wiki/teams/4179/wiki/hp/9-min.jpg" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="https://static.igem.wiki/teams/4179/wiki/hp/10-min.jpg" class="d-block w-100">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-2" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                     </button>
                </div>
            </div>


           
        </div>


      </div>
    </div>
  </div>

<!-- Survey-->
<div class="modal" id="modal4">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Survey</h4>
         </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          
            
            <p>To verify that our project is <b> necessary and contributes to the world</b>, with the advice of Dr. Eid we wrote
                a survey for cancer patients and those recovering. The survey consists of 23 short questions, regarding the feelings
                accompanying hair loss, the self-image following CIA, the opinions on the products that exist today, and the need
                for a new product.</p>
            
            <p>It should be noted that because the survey touches on a sensitive topic and population, we had difficulty conveying
                it to the target audience and reaching a statistically sufficient number of people, which represents the entire community.
                Therefore, the following survey will represent the data collected from seven cancer patients.</p>
            
            <p>The majority of respondents testified that hair loss due to chemotherapy has a great impact on the disease's difficulty and its significantly affects their mental state. 
                Additionally,
                more than half of the respondents believe that the solutions that exist today for hair loss after chemotherapy are
                ineffective and affirm that if there was a product that prevents hair loss due to chemotherapy, they would want to
                use it.</p>
            
            <p>Gathering all this information we were able to <b>reach the relevant understanding</b> regarding the need for our
                project, the problem we are trying to solve, and the cooperation required of us with the intended population
            </p>
            
            <p><a href="https://static.igem.wiki/teams/4179/wiki/hp/survey.pdf" target="_blank">Click here to see our survey questions</a></p>
           
        </div>


      </div>
    </div>
  </div>


  

<!-- Shamna read more-->
<div class="modal" id="modal5">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">"Shamna" Factory</h4>
         </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          
     
            <h5>Contribution</h5>
            <p>They explained that there are currently two main methods for extracting from plants: steaming and pressing. The methods
                vary from plant to plant and depend on the percentage of oil. From the discussion, it emerged that the extraction
                process is accompanied by depreciation, which harms the environment, and its disposal is accompanied by associated
                costs, which are added to the costs of the raw materials, and the ongoing growing costs of the plant. Hence, the
                existing extraction processes in the market are polluting, and expensive and don't necessarily address the problem
                of low efficiency that exists in plants such as Angelica gigas.
            </p>
            <p>In addition, in extraction processes and in particular, in refining processes, it is difficult to maintain the medicinal
                properties of the extract. This makes, plant extracts not always suitable for such products. Another issue that came
                up in the conversation is the issue of standardization and how it is carried out in practice. In the conversation
                with Rachamim, we realized that standards are completely different between the food sector, cosmetics, and medicine.
                


            </p>
            <h5>Implementation</h5>
            <p>The coversationwith Shamna helped us understand the regulatory mechanisms that exist in the western world, and what
                we'll be required to do in the field of standardization for the synthetic decursin we will produce.</p>
            <p>Yaki raised an important question - why are you trying to mimic nature? What's the point of trying to do something
                that nature already does?</p>
            <p>From his questions, we understood <b>how the project was perceived by the industry and stakeholders.</b> Yaki, as
                an industrialist, was concerned about production costs. In his opinion, even a production that "imitates" nature
                will require additional costs in energy, raw materials, and people. For him, this is an economic and not a technological
                question. Following Yaki's concern as an optional stakeholder, we concluded that a feasibility model was required,
                which would be an essential component of the work plan and would justify the <b>viability of the project.</b> Read
                about it in the <a href="{{ url_for('pages', page='implementation') }}">Proposed Implementation page</a>.</p>
            
                <center><img src="https://static.igem.wiki/teams/4179/wiki/hp/shamna-metting.png" class="w-75"></center>
                <p class="figure-text">Our meeting with Yaki Harel and Rahamim Eliyahu</p>
           
        </div>


      </div>
    </div>
  </div>




<!-- Pharmaseed read more-->
<div class="modal" id="modal6">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Visit at Pharmaseed</h4>
         </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          


            <h5>Contribution</h5>
            <p>When we set out to biomanufacture decursin, we had a clear vision in mind (learn more in <a href="{{ url_for('pages', page='implementation') }}">Proposed Implementation page</a>):
                enabling the development of novel treatment strategies that make use of decursin. This meant thinking beyond manufacturing
                    and led us to seek feedback regarding regulations, safety requirements, and screening processes. With the help of
    

             <b>former iGEMer, 
            Ricarina Rabinovitz</b>, we set up a meeting with Pharmaseed which included a tour of their lab and a
                meeting with <b>Dr.
                Itschak Lamensdorf </b>who founded Pharamaseed in 2003, and today serves as a chairman and a consultant to
                     the company. </p>

                            <h5>Implementation</h5>
                    <p>Pharmaseed shared from their experience on the path of new drug discovery. We quickly learned that biomanufacturing
    is only one side of the picture, and future strategies that include decursin would have to further research it's
    molecular mechanism. This was quite unexpected for us because while our team is on the biomanufacturing track, we
    understood that it’s impossible to divide science to different separate tracks, as synthetic biology integrates various
    disciplines. This helped us learn about the process of new drug approval, a core part of our proposed implementation.
    Furthermore, Pharmaseed offered their biological screening services as an opportunity to collaborate, while we can
                    work on the biomanufacturing aspect. </p>

<div class="row">
    <div class="col">
        <img src="https://static.igem.wiki/teams/4179/wiki/hp/12-min.jpg" alt="Snow" width="100%">
    </div>
    <div class="col">
        <img src="https://static.igem.wiki/teams/4179/wiki/hp/13-min.jpg" alt="link" width="100%">
    </div>
</div>
<div class="figure-text">
    <p>visit at Pharmaseed</p>
            </div>

        </div>


      </div>
    </div>
  </div>




  <!-- Ayelet-->
<div class="modal" id="modal7">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Prof. Ayelet Fishman</h4>
         </div>
  
        <!-- Modal body -->
        <div class="modal-body">

            <h5>Contribution</h5>
            <p>We were advised to use HPLC because every molecule involved in our pathway (decursin/decursinol, umbelliferone, 7-demethylsuberosin,
                and marmesin) is aromatic and will be suitable for separation using this technology.
             </p>
            
            <h5>Implementation</h5>
            <p>We took that information and conducted a literature survey to find existing protocols for using HPLC for measuring
                our metabolites. Once we had an initial direction, we worked with Fishman's lab back and forth to finalize HPLC program suitable for
                our samples. You can read more about our measuring process here in the <a href="{{ url_for('pages', page='results') }}#asdsad">Results page</a>.</p>
       
        </div>


      </div>
    </div>
  </div>


 

  <!-- Omer-->
<div class="modal" id="modal8">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Dr. Omer Yehezkeli</h4>
         </div>
  
        <!-- Modal body -->
        <div class="modal-body">

        
  <h5>Contribution</h5>
  <p>We approached Dr. Yehezkeli to assist us with finding an assay to measure produced decursin. We were offered to use NMR which will be faster
      than HPLC. We were also given input about how should we extract our product from the bacterial culture. </p>

  <h5>Implementation</h5>
  <p>Eventually, after discussing the matter with several people from the Yehezeli lab, we decided not to use NMR mainly
      because using it require larger concentrations than we anticipate, it's noisier in comparison to HPLC and we were
      able to have a working HPLC program that produces distinct peaks.</p>

       
        </div>


      </div>
    </div>
  </div>




  <!-- Omer-->
  <div class="modal" id="modal9">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Dr. Ammar Yousef</h4>
         </div>
  
        <!-- Modal body -->
        <div class="modal-body">

        
            <h5>Contribution</h5>
            <p>Our initial concern was that the sample was in a water solution, which isn't HPLC-graded, which results in measurement noise.
                That's why we used a lyophilizer to freeze-dry the water in the sample, but after running the HPLC, no peaks were
                obtained.
            </p>
            <p>Dr. Yousef explained to us that freeze-drying a solution may also dry the metabolites in the solution if they have
                dissolved. Also, the salts in the water won't evaporate and their concentration will increase. He suggested we run
                the sample and subtract the baseline of water alone. Also, he suggested to try and extract the metabolites using
                chloroform. </p>
          
            <h5>Implementation</h5>
            <p>Dr. Yousef's help advanced our project and especially the Proof of Concept team in developing appropriate protocols
                suitable for our metabolites. (see- <a href="{{ url_for('pages', page='protocols') }}">Protocols page</a> ) </p>
            
          
          
            <p>With his insight, we were able to overcome the setbacks in our project and came to the conclusion that a different
                analytical tool is needed (see <a href="{{ url_for('pages', page='measurement') }}">Measurement page</a>).</p>
            </div>

      </div>
    </div>
  </div>



  <!-- Oracell-->
  <div class="modal" id="modal10">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">OraCell</h4>
         </div>
  
        <!-- Modal body -->
        <div class="modal-body">

        
            
  <p>As our project progressed, we found out that the detection of our manufactured metabolite, 
    is usually carried out by high-performance liquid chromatography (HPLC). 
    This was not feasible for us due to the high cost and low throughput of the machinery.
    As we searched for an alternative solutions, we discovered this was a reoccurring problem for many iGEM teams from many tracks:
     <a href="https://2021.igem.org/Team:HiZJU-China/Hardware">iGEM 2021 HiZJU-China,</a>
     <a href="https://2021.igem.org/Team:TJUSLS_China/Model">iGEM 2021 THUSLS China,</a>
     <a href="https://2021.igem.org/Team:HKUST/Description">iGEM HKUST 2021,</a>
     <a href="https://2018.igem.org/Team:ULaval/Collaborations">iGEM ULaval 2018,</a>
     <a href="https://2020.igem.org/Team:EPFL/Description">iGEM EPFL 2020,</a>
     <a href="https://2021.igem.org/Team:TUDelft/Description">iGEM Delft 2021 and </a>
     <a href="https://2016.igem.org/Team:NTHU_Taiwan/Future_Plans">iGEM NTHU_Taiwan 2016</a></p>

<h5>Implementation</h5>
<p>We decided to address this issue and provide an alternative method using the tools available to us in the synthetic biology framework.
   This resulted in the development of a whole new aspect in our project: the  <a href="{{ url_for('pages', page='measurement') }}">OraCell</a> measurement assay.
   We propose a new application, which provides a way to quantify decursin. This was achieved by engineering a pathway that exists in mammalian cells.
   What started as a measurement assay for decursin, could be used by other teams working on the same pathway, or even to mass screen potential new drugs.
  
    </p>


      </div>
    </div>
    </div>
    </div>
  

      <!-- Dr. Aviv Lutaty-->
  <div class="modal" id="modal11">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Dr. Aviv Lutaty</h4>
         </div>
  
        <!-- Modal body -->
        <div class="modal-body">

        
            <h5>Contribution</h5>
            <p>An integral part of our project was the development of a stable cell line with the Luciferase reporter gene for detecting
                and quantifying decursin. The development of this assay included transfection of a plasmid which is normally detected
                using fluorescent activated cell sorting (FACS). This led us to consult with Dr. Aviv Lutaty. We approached him following
                the transfection of our mammalian cells with a plasmid that contained our bioluminescent protein, Luciferase. Typically,
                a transfection of this nature is done with a fluorescent protein which is easily identifiable through FACS. However,
                we chose the more accurate and sensitive bioluminescent protein as opposed to a fluorescent protein. This left us
                unsure of how to isolate and detect cells that integrated the plasmid.</p>

            <h5>Implementation</h5>
            <p>Dr. Aviv Lutaty was very helpful in laying out a clear plan forward for the detection of Luciferase-expressing cells
                utilizing single cell sorting, fluorescence measurements, and luminescence measurements.</p>

      </div>
    </div>
    </div>
    </div>



         <!-- Dr. Hila Ben David-->
  <div class="modal" id="modal12">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Dr. Hila Ben David</h4>
         </div>
  
        <!-- Modal body -->
        <div class="modal-body">

            <h5>Contribution</h5>
            <p>As we are looking forward to our project's future, we thought about how we should present the project and its regulation.
                To overcome this issue, we consulted Dr. Ben David. She offered that we consider how we want to present our product
                - our target audience should be healthy people with hair loss, and market it as a cosmetic product. This way it will
                be easier to get approval - and the next step will be to advertise it as a treatment for CIA (after safety checks).
                
        
            </p>
        
            <p>She suggested starting with the US market (when we want to advertise our product), even though their regulation is
                more complex it will be easier after we get the approval to go to other markets (such as Israel etc.) </p>
            <h5>Implementation</h5>
            <p>That conversation helped us to understand better the regulation market and to think about how we want to change the
                way we think about our product starting from now.</p>

      </div>
    </div>
    </div>
    </div>




             <!-- Dr. Galit Pravari-->
  <div class="modal" id="modal13">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Dr. Galit Pravari</h4>
         </div>
  
        <!-- Modal body -->
        <div class="modal-body">

            <h5>Contribution</h5>
            <p>Researching about the natural synthesis of decursin in plants taught us that the <a href="{{ url_for('pages', page='design') }}">anabolic pathway</a>
                from umbelliferone to decursin contains three reactions. Two of them are enzymatic, while the third is a non-enzymatic esterification reaction.
                We designed our plasmid system to contain genes encoding for the two enzymatic reactions. This meant that we still needed to find a way to 
                include the third reaction from decursinol to decursin in our process.
                Galit suggested an optional mechanism that includes esterification reaction with an acyl halide and even offered to assist in us in performing
                it in the wet lab.</p>
        
            <h5>Implementation</h5>
            <p>The reaction that was offered by Galit was the missing piece in our biomanufacturing process. 
                This reaction completes the pathway and yields the wanted metabolite decursin. 
                We plan on performing it experimentally with intentions to integrate it into our biomanufacturing process. Read more in our <a href="{{ url_for('pages', page='future') }}">future plans page.</a> </p>
        
        

      </div>
    </div>
    </div>
    </div>




             <!--Professor Yuval Shoham -->
  <div class="modal" id="modal14">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Professor Yuval Shoham</h4>
         </div>
  
        <!-- Modal body -->
        <div class="modal-body">

            <p>Professor Yuval Shoham is a researcher in the faculty of Biotechnology and Food Engineering in the Technion </p>

            <h5>Contribution</h5>
            <p>When designing our project, we wanted to focus on every step of the way from producing decursin in bacteria to the investigation if our final product would succeed in penetrating to the necessary depth. A part of this process included the modeling of scaling up our biomanufacturing process and its cost. To find out more, visit our <a href="{{ url_for('pages', page='model') }}#fer">modeling</a> page 
        
                Professor Shoham assisted us in understanding how biomanufacturing projects are typically scaled up and the concerns and costs associated with this process.</p>
        
            <h5>Implementation</h5>
            <p>The biggest piece of advice we took from our conversation was the type of fermentation to be utilized. We 
                debated heavily between batch and continuous fermentation and after our discussion with Professor Shoham, 
                we realized that monetarily and efficiently, batch fermentation was the preferable choice and this is the 
                type we implemented in our model.  </p>
        
        

      </div>
    </div>
    </div>
    </div>


  





<!-- Timeline new -->
<link rel="stylesheet" href="{{ url_for('static', filename='timeline2.css') }}">
<section class="cd-timeline js-cd-timeline">
    <div class="container max-width-lg cd-timeline__container">
      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--picture">
          <img src="https://static.igem.wiki/teams/4179/wiki/hp/untitled-4.svg" alt="Picture">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
            <center>
            <h2>Dr. Jawdat George Eid</h2>

            <img style="border-radius: 50%;" src="https://static.igem.wiki/teams/4179/wiki/hp/picture11.png" width="25%"></center>
            
          <p class="color-contrast-medium">Dr. Jawdat George Eid is a former senior social worker at Rambam Hospital, who worked in the children's oncology department
            for about a decade. He has a Ph.D. in education and social science, and he is the author of the children's book “Namoor
            the little hero” which portrays the struggle of a boy losing his hair due to chemotherapy.</p>

          <div class="flex justify-between items-center">
        <center> <a href="" class="btn btn--subtle" data-bs-toggle="modal" data-bs-target="#modal1">Read more</a> </center> 
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->


      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--movie">
          <img src="https://static.igem.wiki/teams/4179/wiki/hp/model-1.svg" wdith="100%" alt="Movie">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
            <center> <h2>Hair Donation Event</h2>  
                <img src="https://static.igem.wiki/teams/4179/wiki/hp/zichronmenachemlogo.jpg" width="35%"></center>
          <p>Zicharon Menachem is an organization that provides support for young cancer patients and their families. Over
             53784 children have been supported by them since 1990 and one of their main activities is collecting hair
             donations in cooperation with hairdressers across the country.</p>
        
          
          <div class="flex justify-between items-center">
        <center> <a href="" class="btn btn--subtle" data-bs-toggle="modal" data-bs-target="#modal2">Read more</a> </center> 
          </div>

        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->




      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--picture">
          <img src="https://static.igem.wiki/teams/4179/wiki/hp/model-1.svg" width="100%" alt="Picture">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
         <center><h2>Volunteering with “Larger than Life”</h2>
          <img src="https://static.igem.wiki/teams/4179/wiki/hp/logo-main-horz.png" width="35%"></center>
       <p>The Larger Than Life association was established in 2000 with the aim of improving the quality of life and well-being of children with cancer and their families throughout the country, regardless of religion, gender or nationality.</p>
          <div class="flex justify-between items-center">
        <center>  <a href="" class="btn btn--subtle" data-bs-toggle="modal" data-bs-target="#modal3">Read more</a> </center> 
          </div>

        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->





      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--location">
          <img src="https://static.igem.wiki/teams/4179/wiki/hp/model-1.svg" alt="Location">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <center><h2>Survey</h2></center>
          <p>Since our project touches on sensitive issues, we created a survey in order to gain a deeper understanding of the psychological needs and effects of CIA on cancer patients. Through the survey, we tried to understand the views towards today’s products; how much our project is needed and the good it will do for the world and we learned about the preferences of the patients in the final product, both in terms of the application and the economic aspect.</p>

          <div class="flex justify-between items-center">
            <center> <a href="" class="btn btn--subtle" data-bs-toggle="modal" data-bs-target="#modal4">Read more</a></center> 
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--location">
          <img src="https://static.igem.wiki/teams/4179/wiki/hp/untitled-4-1.svg" alt="Location">
        </div> <!-- cd-timeline__img -->


        <div class="cd-timeline__content text-component">
          <center><h2>"Shamna" Factory</h2>
          <img src="https://static.igem.wiki/teams/4179/wiki/hp/14.png" width="70%" id="Shamna"></center>
                 
          <p>Today, decursin is produced from an extract that comes from the roots of the Angelica gigags plant<sup>[<a href="#ref2">2</a>]</sup>. To understand
            the world of plant extraction and the challenges inherent in it, i.e. whether our solution can overcome these difficulties,
            we turned to Yaki Harel and Rahamim Eliyahu from “Shamna” - an Israeli company for extracting oils from cold pressed
            plants.
        </p>


          <div class="flex justify-between items-center">
            <center> <a href="" class="btn btn--subtle" data-bs-toggle="modal" data-bs-target="#modal5">Read more</a></center>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--movie">
          <img src="https://static.igem.wiki/teams/4179/wiki/hp/untitled-4-1.svg" alt="Movie">
        </div> <!-- cd-timeline__img -->



     <div class="cd-timeline__content text-component">
          <center><h2>Visit at Pharmaseed</h2>
          <img src="https://static.igem.wiki/teams/4179/wiki/hp/pharmaseed.png" alt="ps" width="50%"></center>
                   
  <p>Pharmaseed is Israel's largest GLP-certified pre-clinical CRO specializing in translational and regenerative studies
    with large expertise in Stem cell and cellular therapeutics, Angiogenesis, Cancer, Inflammation, CNS, Pain, Metabolic
    Disorders, Toxicology and Medical Devices</p>

          <div class="flex justify-between items-center">
            <center> <a href="" class="btn btn--subtle" data-bs-toggle="modal" data-bs-target="#modal6">Read more</a></center>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--movie">
          <img src="https://static.igem.wiki/teams/4179/wiki/hp/untitled-4.svg" alt="Movie">
        </div> <!-- cd-timeline__img -->




        <div class="cd-timeline__content text-component">
            <center><h2>Professor Ayelet Fishman</h2>
        <img style="border-radius: 50%;" src="https://static.igem.wiki/teams/4179/wiki/hp/15.jpg" width="25%"></center>
            <p>Prof. Fishman's lab focuses its research on biocatalysis, exploitation of enzymes and whole cell systems for the synthesis
                of drugs and nutraceuticals, directed evolution of enzymes, immobilized enzymes, and enzymes in organic solvents.
                We consulted her regarding ways to prove that we indeed manufactured decursin. </p>

            <div class="flex justify-between items-center">
                <center> <a href="" class="btn btn--subtle" data-bs-toggle="modal" data-bs-target="#modal7">Read more</a></center>
            </div>
          </div> <!-- cd-timeline__content -->
        </div> <!-- cd-timeline__block -->
  
        <div class="cd-timeline__block">
          <div class="cd-timeline__img cd-timeline__img--movie">
            <img src="https://static.igem.wiki/teams/4179/wiki/hp/untitled-4.svg" alt="Movie">
          </div> <!-- cd-timeline__img -->




        <div class="cd-timeline__content text-component">
            <center><h2>Dr. Omer Yehezkeli</h2>
           <img style="border-radius: 50%;" src=" https://static.igem.wiki/teams/4179/wiki/hp/16.jpg" width="25%"></center>
            <p>Dr. Yehezkeli's lab combines nanomaterials and enzymes to create biohybrid systems and focuses on enzyme based photochemical
                and electrochemical devices, sensing applications, photocatalysis, and biocatalysis. </p>
            <div class="flex justify-between items-center">
                <center> <a href="" class="btn btn--subtle" data-bs-toggle="modal" data-bs-target="#modal8">Read more</a></center>
            </div>
          </div> <!-- cd-timeline__content -->
        </div> <!-- cd-timeline__block -->
  



        <div class="cd-timeline__block">
          <div class="cd-timeline__img cd-timeline__img--movie">
            <img src="https://static.igem.wiki/teams/4179/wiki/hp/untitled-4.svg" alt="Movie">
          </div> <!-- cd-timeline__img -->



        <div class="cd-timeline__content text-component">
            <center><h2>Dr. Ammar Yousef</h2>
            <img style="border-radius: 50%;" src="https://static.igem.wiki/teams/4179/wiki/hp/ammar.jpeg" width="25%"></center>
            <p>After choosing to use HPLC, we tried to understand how to adapt the method to our samples. For this purpose, we consulted
                Dr. Ammar Yousef, a QC specialist from <b>“Hallura” company</b> regarding the procedures. Dr. Ammar is a specialist
                in developing methods for the following: GC, HPLC, UPLC, and LC-MS Triple Quad.</p>

            <div class="flex justify-between items-center">
                <center>  <a href="" class="btn btn--subtle" data-bs-toggle="modal" data-bs-target="#modal9">Read more</a></center>
            </div>
          </div> <!-- cd-timeline__content -->
        </div> <!-- cd-timeline__block -->
  
        <div class="cd-timeline__block">
          <div class="cd-timeline__img cd-timeline__img--movie">
            <img src="https://static.igem.wiki/teams/4179/wiki/hp/oracell.svg" alt="Movie">
          </div> <!-- cd-timeline__img -->







        <div class="cd-timeline__content text-component">
            <center><h2>Our new measurement tool: OraCell</h2>
         <img src="https://static.igem.wiki/teams/4179/wiki/hp/oracell-logo.png" width="25%"></center>
            <p>While looking for alternatives to HPLC as a way to measure the decursin yield, we found out that many iGEM teams came up with their own unique measurement methods.
               Inspired by this, we looked for ways to manipulate existing pathways in mammalian cells to measure the presence of decursin.</p>
            <div class="flex justify-between items-center">
                <center><a href="" class="btn btn--subtle" data-bs-toggle="modal" data-bs-target="#modal10">Read more</a></center>
            </div>
          </div> <!-- cd-timeline__content -->
        </div> <!-- cd-timeline__block -->
  
        <div class="cd-timeline__block">
          <div class="cd-timeline__img cd-timeline__img--movie">
            <img src="https://static.igem.wiki/teams/4179/wiki/hp/oracell.svg" alt="Movie">
          </div> <!-- cd-timeline__img -->





          <div class="cd-timeline__content text-component">
            <center><h2>Dr. Aviv Lutaty</h2>
              <img style="border-radius: 50%;" src="https://static.igem.wiki/teams/4179/wiki/hp/19.jpg" width="25%"></center>
            <p>Dr. Aviv Lutaty, the head of the flow cytometry unit at the Lorry I. Lokey interdisciplinary center for life sciences
                & engineering</p>

            <div class="flex justify-between items-center">
                <center><a href="" class="btn btn--subtle" data-bs-toggle="modal" data-bs-target="#modal11">Read more</a></center>
            </div>
          </div> <!-- cd-timeline__content -->
        </div> <!-- cd-timeline__block -->
  


        <div class="cd-timeline__block">
          <div class="cd-timeline__img cd-timeline__img--movie">
            <img src="https://static.igem.wiki/teams/4179/wiki/hp/untitled-4-1.svg" alt="Movie">
          </div> <!-- cd-timeline__img -->


          <div class="cd-timeline__content text-component">
            <center> <h2>Dr. Hila Ben David</h2>
            <img style="border-radius: 50%;" src=" https://static.igem.wiki/teams/4179/wiki/hp/18.jpeg" width="25%"></center>
            <p>Dr. Hila Ben David is a CTO at <b>Nextar Chempharma Solutions Ltd.</b> formerly director of The National Public Health
                Laboratories, Israel Ministry of Health. </p>

            <div class="flex justify-between items-center">
                <center> <a href="" class="btn btn--subtle" data-bs-toggle="modal" data-bs-target="#modal12">Read more</a></center>
            </div>
          </div> <!-- cd-timeline__content -->
        </div> <!-- cd-timeline__block -->
  


        <div class="cd-timeline__block">
          <div class="cd-timeline__img cd-timeline__img--movie">
            <img src="https://static.igem.wiki/teams/4179/wiki/hp/untitled-4.svg" alt="Movie">
          </div> <!-- cd-timeline__img -->
      


          <div class="cd-timeline__content text-component">
            <center> <h2>Dr. Galit Pravari</h2>
          <img style="border-radius: 50%;" src=https://static.igem.wiki/teams/4179/wiki/hp/20.png></center>
            <p>Dr. Galit Parvari is a researcher in The Schulich Faculty of Chemistry. </p>

            <div class="flex justify-between items-center">
                <center> <a href="" class="btn btn--subtle" data-bs-toggle="modal" data-bs-target="#modal13">Read more</a></center>
            </div>
          </div> <!-- cd-timeline__content -->
        </div> <!-- cd-timeline__block -->
  
        <div class="cd-timeline__block">
          <div class="cd-timeline__img cd-timeline__img--movie">
            <img src="https://static.igem.wiki/teams/4179/wiki/hp/untitled-4.svg" alt="Movie">
          </div> <!-- cd-timeline__img -->



       




          <div class="cd-timeline__content text-component">
            <center><h2>Professor Yuval Shoham</h2>
            <img style="border-radius: 50%;" src="https://static.igem.wiki/teams/4179/wiki/yuval-shoham.jpg" width="25%"></center>
            <p>Professor Yuval Shoham is a researcher in the faculty of Biotechnology and Food Engineering in the Technion,
                 specializing in protein and enzyme engineering, combining fermentation technology, physiology and gene regulation. </p>

            <div class="flex justify-between items-center">
                <center> <a href="" class="btn btn--subtle" data-bs-toggle="modal" data-bs-target="#modal14">Read more</a></center>
            </div>
          </div> <!-- cd-timeline__content -->
        </div> <!-- cd-timeline__block -->
 

    </div>
  </section> <!-- cd-timeline -->
  <script src="{{ url_for('static', filename='assets/js/timeline2.js') }}"></script>



<br>
<h2> The Human Practices Cycle </h2>
<hr>

<br>
<p>Human practices were integrated into every part of our project, from the first brainstorming session to the last experiment in the lab. 
    To demonstrate this, we use the iGEM project cycle as a model.</p>


<center><img src="https://static.igem.wiki/teams/4179/wiki/hp/hp-circle.svg" class="w-75"></center>
<div class="container">
    <div class="row" style="padding-bottom: 15px">
        <div class="col"><b>1. Build a diverse team </b>
            <p>Our team is the perfect example of diversity, it is composed of 12 people from different backgrounds and ethnicities, which was beneficial especially in the education and public engagement activities that were done by the team. for example, we were able to translate our educational content to multiple languages making it more accessible for people from different countries. Additionally, our team members come from different faculties, such as Biotechnology and Food Engineering, Bio-medical Engineering, Computer Science, and Medicine. Owing it to our diversity, we were able to come up with unique ideas and develop tools to implement them, like creating an educational app using knowledge of programming languages or designing DNA puzzle, using knowledge of SolidWorks, computer-aided engineering applications. Another example is the bioinformatics background of some of the team members that enabled us to utilize modeling tools and software with minimal complications. </p>
        </div>
        <div class="col"><b>2. Explore context</b>
            <p>Each team member reached out to different communities for the purpose of exploring ways in which synthetic biology could be used to solve real-life problems. And by listening to the stories of our acquaintances from an assortment of backgrounds, we stumbled upon one story that inspired us; our teammate’s neighbor who is battling cancer, that caused her to also suffer from chemotherapy-induced alopecia (CIA). This is where our project’s idea stemmed from, and we made it our mission to tackle the difficulties that chemotherapy patients face worldwide. To understand the problem on a deeper level, and increase our impact on society, we contacted different associations and talked to experts from the field. This allowed us to offer our help on various occasions and get involved in the community we were trying to impact. </p>
        </div>

        <div class="col"><b></b><b>3. Brainstorm Broadly</b>
        <p>It was clear to us that the impact we wanted to have on this world was to tackle the distressing side effects of chemotherapy that cancer patients face worldwide. To gather evidence about how our work will affect the world, we first wanted to grasp the whole picture of difficulties patients face and the problematic aspects of solutions existing today. Therefore, we planned activities like a hair donation event and volunteering with “Larger than Life”, a charity association helping families facing pediatric cancer. </p>
        </div>
    </div>

    <div class="row" style="padding-bottom: 15px">
        <div class="col"><b>4. Document the progress </b>
     <p>Each meeting was properly documented throughout and afterward. To ensure that the feedback collected from different stakeholders and the conclusions were not biased, we aimed to reach as many advisors as possible from different fields, that are independent of one another, starting from a social worker talking about the emotional aspect of the discussed problem and all the way to manufacturing companies talking about project implementation. Moreover, it was important to us to document all our meetings and activities throughout or straight after the events themselves to ensure close-to-reality descriptions. </p>
        </div>
        <div class="col"><b>5. Integrate insights </b>
            <p>The approach that led us through the project was that concerns or objections to our ideas are not constraining, but rather the moving force of the project, allowing us to see the weaknesses and improve them. For instance, concerns that were raised from the meeting with industrialists showed us the need for designing our feasibility model. From a human practice standpoint, we received appropriate guidelines from experts for approaching the sensitive issue of CIA. Another topic that occupied a large portion of our project was our new measuring tool – OraCell, which stemmed from the observation we had when reviewing previous and present iGEM groups, and their need for a measurement tool as an alternative for HPLC. </p>
        </div>
        <div class="col"><b>6. Close the Loop</b> 
            <p>As we continued consulting with different specialists, we had to let go of planned directions and make compromises accordingly. For example, we had to give up on previous ideas such as NMR, lyophilizer, and HPLC as part of our measurement plans, and after callbacks with different stakeholders, we came up with our own measurement tool: The OraCell.</p>
        </div>
    </div>
    <div class="row" style="padding-bottom: 15px">
        <div class="col"><b>7. Present evidence </b>
      <p>To see how all meetings and activities are held outside the lab to support our safety, ethical, or technical
         decisions, follow the link to the <a href="#HP"> Human Practice chapter.</a></p>
        </div>
        <div class="col"><b>8. Connect and Share</b>
    <p> The initial motivation for our project to begin with, was offering solutions to the problem of chemotherapy 
        induced hair loss. We chose to tackle this issue by the means of biomanufacturing metabolites for future drugs. 
        During our HP work, we quickly learned about the part of biomanufacturing in the path of new drug discovery. This 
        new understanding meant changing our perspective, as our work focused on enabling this process. This raised new 
        questions regarding regulations, and what is needed for decursin to be integrated in commercially available therapies.
         An example of that would be a possible future collaboration with PharmaSeed which offered their screening services.
          As we have many future plans regarding our project (<a href="{{ url_for('pages', page='implementation') }}">Proposed Implementation page</a>), there is no doubt we will need 
          to seek for further collaborations with business and academic partners to achieve our goals. 
         Read <a href="{{ url_for('pages', page='collaborations') }}">Collaborations page</a> for more information.</p>
        </div>
        <div class="col"><b>9. Carry it forward</b>

<p>As mentioned in the Connect and Share chapter, we believe in the importance of proper and detailed documentation,
     therefor we emphasized documenting all the <a href="{{ url_for('pages', page='protocols') }}">protocols</a> and designs used throughout the project.
      Moreover, we made sure to document our failed attempts and our debugging processes in our synthetic biology work,
       to provide troubleshooting tips for future iGEMers (<a href="{{ url_for('pages', page='engineering') }}">Engineering Success</a>).  </p>  

        </div>
    </div>
</div>




      
{% endblock %}

{% block references %}
      
<ol class="reftext"> 
    <li id="ref1">Rossi, A., Fortuna, M. C., Caro, G., Pranteda, G., Garelli, V., Pompili, U., & Carlesimo, M. (2017). Chemotherapy‐induced alopecia management: clinical experience and practical advice. Journal of cosmetic dermatology, 16(4), 537-541.</li>
    <li id="ref2">Method of extraction decursin and decursinol angelate from Angelica gigas, Nakai (KR100509843B1). (n.d.). KR. https://patents.google.com/patent/KR100893779B1</li>
</ol>
   
{% endblock %}

