{% set ref = 'no' %}
{% extends "layout.html" %}
  
{% block title %}Press{% endblock %}
{% block lead %} Here you can find a collection of news articles and features about our project,
              highlighting the work we did and the impact we had. 
              We are honored to have received this coverage and are grateful for the support and interest in our work.


{% endblock %}
{% block page_content %} 
<h2>English</h2>
<hr>
<a href="https://www.jpost.com/health-and-wellness/article-720574">The Jerusalem Post</a>
</br>
<a href="https://www.technion.ac.il/en/2022/10/hair-loss-chemotherapy-igem-student-competition/">Technion Article</a>
</br>
<a href="https://ats.org/our-impact/technion-students-lauded-for-novel-method-for-decreasing-hair-loss-from-chemotherapy/">American Technion Society</a>
</br>
</br>
</br>


<h2>Hebrew</h2>
<hr>
<a href="https://www.ynet.co.il/environment-science/article/rJLIDcN2D">Ynet</a>


{% endblock %}
