{% set ref = 'no' %}
{% extends "layout.html" %}
  

{% block title %}Presentation{% endblock %}
{% block lead %}Here you can find information about our presentation in the Grand Jamboree in Paris.{% endblock %}

{% block page_content %}


<h1> Judging Session </h1>
<hr>
<center>
  <iframe title="Technion-Israel: Judging Session (2022)" width="560" height="315" src="https://video.igem.org/videos/embed/9e41732d-58d9-4f36-9b7c-0508667aecde?warningTitle=0&amp;peertubeLink=0" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
</center>
<p>For some reason the recording skips the first minutes of the presentation. You can find the full version on our <a href="https://www.youtube.com/watch?v=M_RkEz6zKLo">YouTube channel.</a></p>


</br>
<h1> Village Presentation </h1>
<hr>
<center>
  <iframe title="Plaza #1: Day 2/2 (iGEM 2022 Grand Jamboree) - Full Livestream" width="560" height="315" src="https://video.igem.org/videos/embed/6c7c54f0-f81f-46d5-abd8-d7f7dcf1a169?start=5h1m30s&amp;warningTitle=0&amp;peertubeLink=0" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
</center>

</br>
<h1> Presentation files </h1>
<hr>
<center>
  <embed src="https://static.igem.wiki/teams/4179/wiki/pdf-angel-roots-grand-jamboree-presentation-submission.pdf" width="1000px" height="600px" />
</center>
{% endblock %}
