{% extends "layout-header.html" %}

{% block title %}Our Team{% endblock %}
{% block lead %}We invite you to meet the amazing individuals behind Angel Roots.</br> 
Our unique backgrounds provided us with multidisciplinary tools and ideas,</br> which helped Angel Roots become what it is today! {% endblock %}

{% block page_inner_body %}

<!-- For some reas-->
<link href="{{ url_for('static', filename='assets/vendor/bootstrap4/bootstrap.min.css') }}" rel="stylesheet">

<div class="container py-7">
  <div class="text-center">
  
</div>
<img class="center" src="https://static.igem.wiki/teams/4179/wiki/team/meettheteamphoto.svg">

  <hr class="hr-primary w-15 hr-xl ml-0 mb-5">
  <div class="row mb-5">
    <div class="col-md-6 order-md-2">
      <img src="https://static.igem.wiki/teams/4179/wiki/team/maia-r.png" onmouseover="this.src='https://static.igem.wiki/teams/4179/wiki/team/maia-f.png'" onmouseout="this.src='https://static.igem.wiki/teams/4179/wiki/team/maia-r.png'" alt="Maia" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign text-md-right">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Maia Lehrman
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Miss captain</em>
      </h5>
      <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
      <p> <b>Age:</b> 25</p>
      <p><b>Flower type: </b>Biomedical Engneering, third year</p>
      <p><b> Where is my garden: </b>Shoham</p>
      <p> <b> Favorite type of fertilizer:</b> Chocolate and pizza</p>
      <p> <b> I bloom when:</b> I travel and hang out with my family</p>
      <p><b>I want to grow to be:</b> A founder of a medical device company that helps people </p>

      <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="https://www.linkedin.com/in/maia-lehrman">
        <img src="https://static.igem.wiki/teams/4179/wiki/team/logolinkedin.png" alt="linkedin"  width="25" height="25"   > </a></a>
        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:maialeh@hotmail.com">
          <img src="https://static.igem.wiki/teams/4179/wiki/team/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>


  <div class="row mb-5">
    <div class="col-md-6 text-md-right">
      <img src="https://static.igem.wiki/teams/4179/wiki/team/nova-r.png" onmouseover="this.src='https://static.igem.wiki/teams/4179/wiki/team/nova-f.png'" onmouseout="this.src='https://static.igem.wiki/teams/4179/wiki/team/nova-r.png'" alt="Nova" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Nova Noiman
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Model Agent</em>
      </h5>
      <hr class="hr-primary w-70 ml-0 mb-3">
      <p> <b>Age:</b> 26</p>
      <p><b>Flower type: </b>Biotechnology & Food Engineering, fourth year </p>
      <p><b> Where is my garden: </b>Kfar Vradim</p>
      <p> <b> Favorite type of fertilizer:</b> Sushi and pizza</p>
      <p> <b> I bloom when:</b> I go to the sea</p>
      <p><b>I want to grow to be:</b> A successful researcher </p>


      <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="https://www.linkedin.com/in/novanoiman">
        <img src="https://static.igem.wiki/teams/4179/wiki/team/logolinkedin.png" alt="linkedin"  width="25" height="25"   > </a></a>
        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:novanoiman@gmail.com">
          <img src="https://static.igem.wiki/teams/4179/wiki/team/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>


  
  <div class="row mb-5">
    <div class="col-md-6 order-md-2">
      <img src="https://static.igem.wiki/teams/4179/wiki/team/baraa-r.png" onmouseover="this.src='https://static.igem.wiki/teams/4179/wiki/team/barraa-f.png'" onmouseout="this.src='https://static.igem.wiki/teams/4179/wiki/team/baraa-r.png'" alt="Baraah" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign text-md-right">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Baraah Rashed
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Synthetic mom</em>
      </h5>
      <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
      <p> <b>Age:</b> 22</p>
      <p><b>Flower type: </b>Biotechnology & Food Engineering, fourth year </p>
      <p><b> Where is my garden: </b>Shfar-am</p>
      <p> <b> Favorite type of fertilizer:</b> Chocolate and vine leaves</p>
      <p> <b> I bloom when:</b> I hear music and eat</p>
      <p><b>I want to grow to be:</b> A good and successful woman</p>


        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:1234baraah62@gmail.com">
          <img src="https://static.igem.wiki/teams/4179/wiki/team/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>


  <div class="row mb-5">
    <div class="col-md-6 text-md-right">
      <img src="https://static.igem.wiki/teams/4179/wiki/team/mattan-r.png" onmouseover="this.src='https://static.igem.wiki/teams/4179/wiki/team/mattan-f.png'" onmouseout="this.src='https://static.igem.wiki/teams/4179/wiki/team/mattan-r.png'" alt="Nova" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Mattan Hoory
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>The Conflict Solver </em>
      </h5>
      <hr class="hr-primary w-70 ml-0 mb-3">
      <p> <b>Age:</b> 24</p>
      <p><b>Flower type: </b>Bioinformatics, second year </p>
      <p><b> Where is my garden: </b>Ramat Yishay</p>
      <p> <b> Favorite type of fertilizer:</b> Donuts </p>
      <p> <b> I bloom when:</b> I hang out with friends </p>
      <p><b>I want to grow to be:</b> A pioneer in the field of Bioinformatics  </p>


      <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="https://www.linkedin.com/in/mattan-hoory-2224b3239/">
        <img src="https://static.igem.wiki/teams/4179/wiki/team/logolinkedin.png" alt="linkedin"  width="25" height="25"   > </a></a>
        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:hoorym@hotmail.com">
          <img src="https://static.igem.wiki/teams/4179/wiki/team/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>



  <div class="row mb-5">
    <div class="col-md-6 order-md-2">
      <img src="https://static.igem.wiki/teams/4179/wiki/team/yasmin-r.png" onmouseover="this.src='https://static.igem.wiki/teams/4179/wiki/team/yasmin-f.png'" onmouseout="this.src='https://static.igem.wiki/teams/4179/wiki/team/yasmin-r.png'" alt="Baraah" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign text-md-right">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Yasmin Habib
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Promotion ninja </em>
      </h5>
      <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
      <p> <b>Age:</b> 22</p>
      <p><b>Flower type: </b>Biomedical Engineering, third year  </p>
      <p><b> Where is my garden: </b>Nazareth</p>
      <p> <b> Favorite type of fertilizer:</b> Pickles</p>
      <p> <b> I bloom when:</b> I eat dessert and do pottery</p>
      <p><b>I want to grow to be:</b> A cat lady </p>

      <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="https://www.linkedin.com/in/yasmin-habib-02134624b/">
        <img src="https://static.igem.wiki/teams/4179/wiki/team/logolinkedin.png" alt="linkedin"  width="25" height="25"   > </a></a>
        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:Yasminhabib636@gmail.com">
          <img src="https://static.igem.wiki/teams/4179/wiki/team/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>




  <div class="row mb-5">
    <div class="col-md-6 text-md-right">
      <img src="https://static.igem.wiki/teams/4179/wiki/team/isar-r.png" onmouseover="this.src='https://static.igem.wiki/teams/4179/wiki/team/isar-f.png'" onmouseout="this.src='https://static.igem.wiki/teams/4179/wiki/team/isar-r.png'" alt="Nova" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Iser Snoyman
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Light bringer  </em>
      </h5>
      <hr class="hr-primary w-70 ml-0 mb-3">
      <p> <b>Age:</b> 24</p>
      <p><b>Flower type: </b>Biotechnology & Food Engineering, fourth year  </p>
      <p><b> Where is my garden: </b>Maalot</p>
      <p> <b> Favorite type of fertilizer:</b> Steak </p>
      <p> <b> I bloom when:</b> I do puzzels, read, do escape rooms and watch american football </p>
      <p><b>I want to grow to be:</b> A Nobel prize winner </p>


      <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="https://www.linkedin.com/in/isersnoyman/">
        <img src="https://static.igem.wiki/teams/4179/wiki/team/logolinkedin.png" alt="linkedin"  width="25" height="25"   > </a></a>
        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:isersnoyman@gmail.com">
          <img src="https://static.igem.wiki/teams/4179/wiki/team/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>



  <div class="row mb-5">
    <div class="col-md-6 order-md-2">
      <img src="https://static.igem.wiki/teams/4179/wiki/team/mazal-r.png" onmouseover="this.src='https://static.igem.wiki/teams/4179/wiki/team/mazal-f.png'" onmouseout="this.src='https://static.igem.wiki/teams/4179/wiki/team/mazal-r.png'" alt="Baraah" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign text-md-right">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Mazal Faraj
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Queen of Primers</em>
      </h5>
      <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
      <p> <b>Age:</b> 25</p>
      <p><b>Flower type: </b>Biotechnology & Food Engineering, third year  </p>
      <p><b> Where is my garden: </b>Nazaret Illit</p>
      <p> <b> Favorite type of fertilizer:</b> Pizza and Cousous</p>
      <p> <b> I bloom when:</b> I go to the beach </p>
      <p><b>I want to grow to be:</b> A good person </p>

      <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="https://www.linkedin.com/in/mazal-faraj-449b9a250/">
        <img src="https://static.igem.wiki/teams/4179/wiki/team/logolinkedin.png" alt="linkedin"  width="25" height="25"   > </a></a> 
        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:Faraj.mazal@campus.technion.ac.il">
          <img src="https://static.igem.wiki/teams/4179/wiki/team/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>



  <div class="row mb-5">
    <div class="col-md-6 text-md-right">
      <img src="https://static.igem.wiki/teams/4179/wiki/team/amit-r.png" onmouseover="this.src='https://static.igem.wiki/teams/4179/wiki/team/amit-f.png'" onmouseout="this.src='https://static.igem.wiki/teams/4179/wiki/team/amit-r.png'" alt="Nova" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Amit Nelkin
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>The professor  </em>
      </h5>
      <hr class="hr-primary w-70 ml-0 mb-3">
      <p> <b>Age:</b> 26</p>
      <p><b>Flower type: </b>Biotechnology & Food Engineering, third year  </p>
      <p><b> Where is my garden: </b>Haifa</p>
      <p> <b> Favorite type of fertilizer:</b> Shnizel</p>
      <p> <b> I bloom when:</b> I stay in with Michal and watch a FCB game</p>
      <p><b>I want to grow to be:</b> Nobel laureate  </p>


        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:amit.nelkin@gmail.com">
          <img src="https://static.igem.wiki/teams/4179/wiki/team/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>



  <div class="row mb-5">
    <div class="col-md-6 order-md-2">
      <img src="https://static.igem.wiki/teams/4179/wiki/team/irina-r.png" onmouseover="this.src='https://static.igem.wiki/teams/4179/wiki/team/irina-f.png'" onmouseout="this.src='https://static.igem.wiki/teams/4179/wiki/team/irina-r.png'" alt="Baraah" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign text-md-right">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Irina Shkalikov
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>The loot gatherer  </em>
      </h5>
      <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
      <p> <b>Age:</b> 23</p>
      <p><b>Flower type: </b>Medicine and Biomedical Engineering, third year </p>
      <p><b> Where is my garden: </b>Kiryat Yam</p>
      <p> <b> Favorite type of fertilizer:</b> Cheese</p>
      <p> <b> I bloom when:</b> I go to the sea and walk with my dog </p>
      <p><b>I want to grow to be:</b> A founder of a wild animal shelter </p>

        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:irinashk@campus.technion.ac.il">
          <img src="https://static.igem.wiki/teams/4179/wiki/team/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>



  <div class="row mb-5">
    <div class="col-md-6 text-md-right">
      <img src="https://static.igem.wiki/teams/4179/wiki/team/yana-r.png" onmouseover="this.src='https://static.igem.wiki/teams/4179/wiki/team/yana-f.png'" onmouseout="this.src='https://static.igem.wiki/teams/4179/wiki/team/yana-r.png'" alt="Nova" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Yana Shklovski
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>The Educator  </em>
      </h5>
      <hr class="hr-primary w-70 ml-0 mb-3">
      <p> <b>Age:</b> 26</p>
      <p><b>Flower type: </b>Biotechnology & Food Engineering, fourth year  </p>
      <p><b> Where is my garden: </b>Haifa</p>
      <p> <b> Favorite type of fertilizer:</b> Sushi</p>
      <p> <b> I bloom when:</b>I dance zumba and hear puns</p>
      <p><b>I want to grow to be:</b> Happy  </p>


      <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="https://www.linkedin.com/in/yana-shklovski">
        <img src="https://static.igem.wiki/teams/4179/wiki/team/logolinkedin.png" alt="linkedin"  width="25" height="25"   > </a></a>
        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:yanashklovski@gmail.com">
          <img src="https://static.igem.wiki/teams/4179/wiki/team/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>






  <div class="row mb-5">
    <div class="col-md-6 order-md-2">
      <img src="https://static.igem.wiki/teams/4179/wiki/team/reut-r-1png.png" onmouseover="this.src='https://static.igem.wiki/teams/4179/wiki/team/reut-f1.png'" onmouseout="this.src='https://static.igem.wiki/teams/4179/wiki/team/reut-r-1png.png'" alt="Baraah" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign text-md-right">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Reut Laufer
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Social Queen </em>
      </h5>
      <hr class="hr-primary w-70 ml-0 ml-md-auto mr-md-0 mb-3">
      <p> <b>Age:</b> 25</p>
      <p><b>Flower type: </b>Biotechnology & Food Engineering, third year  </p>
      <p><b> Where is my garden:</b> Hedera</p>
      <p> <b> Favorite type of fertilizer:</b> Pasta</p>
      <p> <b> I bloom when:</b> I do yoga and bake</p>
      <p><b>I want to grow to be:</b> To save the Earth from climate change</p>

      <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="https://www.linkedin.com/in/reut-laufer-38664a249/">
        <img src="https://static.igem.wiki/teams/4179/wiki/team/logolinkedin.png" alt="linkedin"  width="25" height="25"   > </a></a>
        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:Reutla@campus.Technion.ac.il">
          <img src="https://static.igem.wiki/teams/4179/wiki/team/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>




  <div class="row mb-5">
    <div class="col-md-6 text-md-right">
      <img src="https://static.igem.wiki/teams/4179/wiki/team/ran-r.png" onmouseover="this.src='https://static.igem.wiki/teams/4179/wiki/team/ran-f.png'" onmouseout="this.src='https://static.igem.wiki/teams/4179/wiki/team/ran-r.png'" alt="Nova" class="img-fluid border-white border-w-5 w-50 w-md-80 w-lg-60">
    </div>
    <div class="col-md-6 flex-valign">
      <h3 class="text-uppercase text-letter-spacing-xs mt-0 mb-1 text-dark font-weight-bold">
        Ran Benayoun
      </h3>
      <h5 class="my-0 font-weight-normal">
        <em>Lab-radors Enthusiast</em>
      </h5>
      <hr class="hr-primary w-70 ml-0 mb-3">
      <p> <b>Age:</b> 27</p>
      <p><b>Flower type: </b>Biomedical Engineering, third year  </p>
      <p><b> Where is my garden: </b>Ramat Yishay</p>
      <p> <b> Favorite type of fertilizer:</b> Challah</p>
      <p> <b> I bloom when:</b> I bake, knit and record podcast</p>
      <p><b>I want to grow to be:</b> A spider silk manufactureer </p>


      <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="https://www.linkedin.com/in/ran-benayoun">
        <img src="https://static.igem.wiki/teams/4179/wiki/team/logolinkedin.png" alt="linkedin"  width="25" height="25"   > </a></a>
        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:ran.be@campus.technion.ac.il">
          <img src="https://static.igem.wiki/teams/4179/wiki/team/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
    </div>
  </div>
</div>

<div class="container bootdey mentors" >
        <div class="row">
         
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4">Supervisors</h4>
                    <p class="text-muted para-desc mx-auto mb-0">Our amazing mentors that guided us through the project. Their trust and direction helped us bring out the best in us

                    </p>
                </div>
            </div><!--end col-->
        </div><!--end row-->


        <div class="row justify-content-md-center">
          
          <div class="col-lg-2 col-md-6 col-12 mt-4 pt-2">
              <div class="team text-center rounded p-3 py-4" >
                  <img src="https://static.igem.wiki/teams/4179/wiki/team/roeeamit.jpeg" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                  <div class="content mt-3">
                      <h4 class="title mb-0">Prof. Roee Amit</h4>
                      <small class="text-muted">PI</small>
                      <br><br>
                      <ul class="list-unstyled mt-3 social-icon social mb-0">
        
                        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="https://www.linkedin.com/in/roee-amit-ab4a083">
                          <img src="https://static.igem.wiki/teams/4179/wiki/team/logolinkedin.png" alt="linkedin"  width="25" height="25"   > </a></a>
                          <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:roeeamit@bfe.technion.ac.il">
                            <img src="https://static.igem.wiki/teams/4179/wiki/team/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
                      </ul><!--end icon-->
                  </div>
              </div>
          </div><!--end col-->


     
            

            <div class="col-lg-2 col-md-6 col-12 mt-4 pt-2">
                <div class="team text-center rounded p-3 py-4">
                  <meta name="viewport" content="width=device-width, initial-scale=1">
                    <img src="https://static.igem.wiki/teams/4179/wiki/circle-nisrine.jpeg" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                    <div class="content mt-3">
                        <h4 class="title mb-0">Dr. Nisrine Lahoud Jeries</h4>
                        <small class="text-muted">Secondery PI</small>
                        <ul class="list-unstyled mt-3 social-icon social mb-0">
                          
                          <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="https://www.linkedin.com/in/nisrine-lahoud-jeries-b4ba2ab4">
                            <img src="https://static.igem.wiki/teams/4179/wiki/team/logolinkedin.png" alt="linkedin"  width="25" height="25"   > </a></a>
                            <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:nisrinelahoud@technion.ac.il">
                              <img src="https://static.igem.wiki/teams/4179/wiki/team/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
                        </ul><!--end icon-->
                    </div>
                </div>
            </div><!--end col-->

             
          <div class="col-lg-2 col-md-6 col-12 mt-4 pt-2">
            <div class="team text-center rounded p-3 py-4">
                <img src="https://static.igem.wiki/teams/4179/wiki/circle-shira.jpeg" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                <div class="content mt-3">
                    <h4 class="title mb-0">Shira Levi</h4>
                    <small class="text-muted">Mentor</small>
                    <br><br>
                    <ul class="list-unstyled mt-3 social-icon social mb-0">

                      <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="https://www.linkedin.com/in/shira-levi-1809a3151">
                        <img src="https://static.igem.wiki/teams/4179/wiki/team/logolinkedin.png" alt="linkedin"  width="25" height="25"   > </a></a>
                        <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:shiralevi147@campus.technion.ac.il">
                          <img src="https://static.igem.wiki/teams/4179/wiki/team/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
                    </ul><!--end icon-->
                </div>
            </div>
        </div><!--end col-->

        
            
            <div class="col-lg-2 col-md-6 col-12 mt-4 pt-2">
                <div class="team text-center rounded p-3 py-4">
                    <img src="https://static.igem.wiki/teams/4179/wiki/team/naorcircle.jpeg" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                    <div class="content mt-3">
                        <h4 class="title mb-0">Naor Granik</h4>
                        <small class="text-muted">Mentor</small>
                        <br><br>
                        <ul class="list-unstyled mt-3 social-icon social mb-0">

                          <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="https://www.linkedin.com/in/naor-granik">
                            <img src="https://static.igem.wiki/teams/4179/wiki/team/logolinkedin.png" alt="linkedin"  width="25" height="25"   > </a></a>

                            <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:naorgranik@gmail.com">
                              <img src="https://static.igem.wiki/teams/4179/wiki/team/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
                        </ul><!--end icon-->
                    </div>
                </div>
            </div><!--end col-->
          
            <div class="col-lg-2 col-md-6 col-12 mt-4 pt-2">
                <div class="team text-center rounded p-3 py-4">
                    <img src="https://static.igem.wiki/teams/4179/wiki/team/or.jpeg" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                    <div class="content mt-3">
                        <h4 class="title mb-0">Or Wilinger</h4>
                        <small class="text-muted">Mentor</small>
                        <br><br>
                        <ul class="list-unstyled mt-3 social-icon social mb-0">

                          <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="https://www.linkedin.com/in/or-willinger-1843a2120/">
                            <img src="https://static.igem.wiki/teams/4179/wiki/team/logolinkedin.png" alt="linkedin"  width="25" height="25"   > </a></a>
                            <a href="#join" data-toggle="scroll-link" class="text-sm font-weight-bold"><i class="fa fa-chevron-right text-xs text-pink"></i> <a target="_blank" href="mailto:orwillinger@gmail.com">
                              <img src="https://static.igem.wiki/teams/4179/wiki/team/mail.png" alt="linkedin"  width="25" height="25"   > </a></a>
                        </ul><!--end icon-->
                    </div>
                </div>
            </div><!--end col-->

     
        </div><!--end row-->
    </div>
</div>

{% endblock %}
